

body{
    background-image: url("https://media.giphy.com/media/7jxPj1HZ4jOko/source.gif");
}

.title{
    font-family: 'Notable', sans-serif;
    color: rgb(255, 236, 131);
}

.subtitle{
    font-family: 'Permanent Marker', cursive;
    color: rgb(255, 187, 0);
}
/*Styles for Header*/
#header{
    background-image: url("../images/jgp1.png");
    background-size: 300px 100%;
    background-repeat: round;
}
/*Styles for Left div*/
#leftdiv{
    box-sizing: unset;
    margin: 0;
    border: 0;
    padding: 0;
    overflow: visible;
}
/*Styles for Right div*/
#rightdiv{
    box-sizing: unset;
    margin: 0;
    border: 0;
    padding: 0;
    overflow: visible;
}
/*Styles for Game div*/
#game{
    border: 5px solid gold;
    font-family: 'Anton', sans-serif;
    background-color: gold;
    filter: opacity(.8);
    color: black;
    font-size: 50pt;
    font-variant: small-caps;
}

.answer{
    font-size: 25pt;
    font-family: 'Permanent Marker', cursive;
    padding: 10px;
    margin: 5px;

}
.winbox{
    font-size: 25pt;
    font-family: 'Permanent Marker', cursive;
    padding: 10px;
    margin: 5px;
    border: 5px solid black;
    background-color: aliceblue;

}
.lossbox{
    font-size: 25pt;
    font-family: 'Permanent Marker', cursive;
    padding: 10px;
    margin: 5px;
    border: 5px solid red;
    background-color: aliceblue;

}
